.search {

	$this: &;

	padding: 0 3em 0 1em;

	&__input {
		padding: 0 3em 0 1em;

		transition: .2s ease-in-out;
		transition-property: color, background-color, border-color, outline-color;
	}

	&__close {
		margin-right: 1em;
	}

	:not(.uk-dark) & {

		&__input {
			color: inherit;
		}

		&__input:hover,
		&__input:focus-visible {
			background-color: var(--header-input-placeholder-color, hsl(0 0% 100% / .25));
		}
		&__input::placeholder {
			color: var(--header-input-placeholder-color, hsla(0 0% 80%));
		}

	}

}